.modalBackdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modalContainer {
	background-color: #ffffff;
	padding: 24px;
	border-radius: 8px;
	box-shadow: 0px 6px 50px 0px #000000;
	width: fit-content;
}

.modalContainer .modalCloseButton {
	position: absolute;
	right: -18px;
	top: -18px;
	font-size: 24px;
	cursor: pointer;
}

.modalContainer .modalHeader {
	text-decoration: underline;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	margin-bottom: 16px;
	position: relative;
}

.modalContainer .modalBody {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 8px;
}

.modalContainer .modalBody .taskDetailContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.modalContainer .modalBody .taskValueContainer {
	border: 1px solid #605f5f;
	padding: 8px 16px;
	border-radius: 8px;
	margin-left: 16px;
}
